// Your variable overrides
$body-bg: #fff;

h1 {
  font-family: 'National', Helvetica ,Arial ,sans-serif;
  font-weight: bold;
  font-size: 48px;
  line-height: 50px;
  font-feature-settings: 'pnum' on, 'lnum' on;
  color: #000000;
}

h2 {
  font-family: 'National', Helvetica ,Arial ,sans-serif;
  font-weight: normal;
  font-size: 24px !important;
  line-height: 50px;
  font-feature-settings: 'pnum' on, 'lnum' on;
  color: #000000;
}

/** Feature Section Styling **/

.features {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.features .small {
  font-family: 'National', Helvetica ,Arial ,sans-serif;
  font-weight: 480;
  font-size: 14px;
  line-height: 1.3;
  color: #000000;
}

.features li {
  font-family: 'National', Helvetica ,Arial ,sans-serif;
  font-weight: 480;
  font-size: 14px;
  line-height: 1.5;
  color: #000000;
  list-style: none;
}

.features .details {
  font-family: 'National', Helvetica ,Arial ,sans-serif;
  font-weight: 480;
  font-size: 12px;
  line-height: 17px;
  color: #000000;

}

.features ul {
  padding: 0;
}

.pricing-container {
  display: flex;
  flex-direction: row;
  background: #F5F5F5;
  padding: 1.5vw;
  width: 753px;
  justify-content: space-around;
}

#infra  {
    font-family: 'National', Helvetica ,Arial ,sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 12px;
    line-height: 16px;
    letter-spacing: 0.342857px;
    text-transform: uppercase;
    color: #2B2AA7;
}

#apm  {
  font-family: 'National', Helvetica ,Arial ,sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 12px;
  line-height: 16px;
  letter-spacing: 0.342857px;
  text-transform: uppercase;
  color: #14D071;
}

#logs  {
  font-family: 'National', Helvetica ,Arial ,sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 12px;
  line-height: 16px;
  letter-spacing: 0.342857px;
  text-transform: uppercase;
  color: #FF635A;
}

.start {
  font-family: 'National', Helvetica ,Arial ,sans-serif;
  font-style: normal;
  font-weight: 480;
  font-size: 16px;
  line-height: 19px;
  color: #000000;
}

.price {
  font-family: 'National', Helvetica ,Arial ,sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 45px;
  line-height: 50px;  
  font-feature-settings: 'pnum' on, 'lnum' on;
  color: #000000;
}

 .features .main-cta {
  font-family: 'National', Helvetica ,Arial ,sans-serif;;
  font-weight: 600;
  font-size: 24px;
  line-height: 29px;
  text-align: center;
  text-transform: uppercase;
  color: #724EEF;
  background-color: transparent;
  border: 3px solid #724EEF;
  text-decoration: none;
  padding:  1vw 2vw;
}

/** Footer Styling **/

footer {
  background: linear-gradient(180deg, #443E48 0%, #110617 100%);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  height: 22vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

footer .container {
  display: flex;
  justify-content: center;
  margin-top: 3vw;
}

footer button {
  border: 1px solid #979797;
  border-radius: .25vw;
  background-color: transparent;
  font-family: 'National', Helvetica ,Arial ,sans-serif;
  font-weight: bold;
  font-size: 16px;
  line-height: 22px;
  color: #fff;
  text-transform: uppercase;
  letter-spacing: .1vw;
  padding: 1vw 2vw;
  text-align: center;
  vertical-align: middle;
}

footer button:hover {
  color: #632ca6;
  background-color: #fff;
  transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out,-webkit-box-shadow .15s ease-in-out;
}

footer p {
  font-family: 'National', Helvetica ,Arial ,sans-serif;
  font-weight: 700;
  font-size: 16px;
  color: #B6B6B6;
  padding-bottom: 6px;
  margin-bottom: 0;
}

footer ul li a, footer ul li a:hover {
  font-family: 'National', Helvetica ,Arial ,sans-serif;
  font-weight: 100;
  font-size: 16px;  
  color: #B6B6B6;
  text-decoration: none;
}

footer ul {
  list-style: none;
  padding-left: 0;
}

.copyright {
  font-family: 'Helvetica Neue', 'Roboto', sans-serif;
  font-size: 16px;
  line-height: 1;
  color: #B6B6B6;
  font-weight: 200;
  padding-top: 4vw;
}

.line {
  color: #fff;
}

.terms a, .terms a:hover {
  font-family: 'National', Helvetica ,Arial ,sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 1;
  color: #FFFFFF;
  text-decoration: none;
  padding: 0.4vw 0.3vw 0;
}



// Bootstrap and its default variables
@import "node_modules/bootstrap/scss/bootstrap";