<!-- sidebar start -->

<aside class="sidebar">
  <nav class="nav">
    {{ $currentPage := . }}
      {{ range .Site.Menus.main }}
          {{ if .HasChildren }}
              <li class="{{ if $currentPage.HasMenuCurrent "main" . }}active{{ end }}">
                  <a href="#">
                      {{ .Pre }}
                      <span>{{ .Name }}</span>
                  </a>
              </li>
              
          {{ else }}
              <li>
                  <a href="{{ .URL }}">
                      {{ .Pre }}
                      <span>{{ .Name }}</span>
                  </a>
              </li>
          {{ end }}
      {{ end }}
      <li>
          <a href="#" target="_blank">Login</a>
      </li>
  </ul>
  </nav>
</aside>